@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap');
@import 'tailwindcss';
@import '$lib/styles/components/custom-icon.css';

@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

:root {
    --theme-color-primary-reverse: #F7F9FC;
    --theme-color-primary: #0D0D0D;
    --theme-color-secondary: #727E94;
    --theme-color-accent: #4271D7;
    --theme-color-alert: oklch(58.6% 0.253 17.585);
    --theme-color-success: oklch(84.1% 0.238 128.85);
    --theme-color-success-light: oklch(89.2% 0.223 127.706);

    --theme-text-primary: #0D0D0D;
    --theme-text-secondary: #727E94;
    --theme-text-third: #c1c9d5;
    --theme-ui-line: #DDE1E8;
    --theme-ui-line-highlight: #727E94;
    --theme-ui-white: #F7F9FC;
}

.dark {
    --theme-color-primary-reverse: #0D0D0D;
    --theme-color-primary: #F7F9FC;
}

body {
    background: #f7f9fc;
    font-family: 'Lexend', sans-serif;

    .coming-soon {
        color: var(--theme-text-secondary);
    }

    .content-header {
        display: flex;
        flex-flow: row nowrap;
        align-items: flex-end;
        justify-content: space-between;

        padding-bottom: 2rem;
        user-select: none;

        .text {
            .title {
                font-family: 'Outfit', sans-serif;
                font-size: 2.25rem;
                font-weight: 700;

                background-image: linear-gradient(5deg, transparent 40%, #222234 80%),
                linear-gradient(-170deg, #242433 20%, #0D0D0D 75%);
                background-clip: text;
                color: transparent;

                max-height: 6.75rem;

                animation: titleAnim 1s infinite ease;
            }

            .subtitle {
                font-size: .95rem;
                font-family: 'Google Sans', sans-serif;
                font-weight: 500;

                color: var(--theme-text-secondary);
            }
        }

        .actions {

        }
    }
}

* {
    scrollbar-width: thin;
    scrollbar-color: var(--theme-color-secondary) transparent;
    scroll-behavior: smooth;
    transition: color 120ms ease,
    border-color 120ms ease,
    background-color 120ms ease,
    fill 120ms ease,
    stroke 120ms ease,
    filter 120ms ease;
}