@import '../lib/resources/other/typography/google-sans/fonts.css';
@import '../lib/resources/other/typography/space-grotesk/fonts.css';
@import '../lib/resources/other/typography/archivo/fonts.css';
@import '../lib/resources/other/typography/bricolage-grotesque/fonts.css';
@import '../lib/resources/other/typography/lexend/fonts.css';
@import '../lib/resources/other/typography/funnel/fonts.css';
@import '../lib/resources/other/typography/jetbrains-mono/fonts.css';
@import 'tailwindcss';

:root {
	color-scheme:                         light;
	
	--theme-cubic-out:                    cubic-bezier(0.215, 0.610, 0.355, 1.000);
	--theme-transition-off:               all 175ms cubic-bezier(0.550, 0.055, 0.675, 0.190);
	--theme-transition-on:                all 100ms cubic-bezier(0.165, 0.840, 0.440, 1.000);
	
	--theme-color-primary-reverse:        #F7F9FC;
	--theme-color-primary:                #0D0D0D;
	--theme-color-secondary:              #727E94;
	--theme-color-accent:                 #757CFF;
	--theme-color-aware:                  oklch(0.843 0.162 92.182);
	--theme-color-alert:                  oklch(58.6% 0.253 17.585);
	--theme-color-alert-light:            oklch(0.662 0.232 11.291);
	--theme-color-success:                oklch(84.1% 0.238 128.85);
	--theme-color-success-light:          oklch(89.2% 0.223 127.706);
	
	--theme-text-primary:                 #0D0D0D;
	--theme-text-secondary:               #31353F;
	--theme-text-third:                   #727E94;
	--theme-text-fourth:                  #C1C9D5;
	--theme-text-new:                     #130132;
	
	--theme-ui-line:                      #DDE1E8;
	--theme-ui-line-highlight:            #C0C5CC;
	--theme-ui-white:                     #F7F9FC;
	--theme-ui-black:                     #0D0D0D;
	--theme-ui-container:                 #ECEEF3;
	--theme-ui-container-hover:           #E6E9EF;
	--theme-ui-background:                #F7F9FC;
	--theme-ui-header:                    #EFF1F3;
	--theme-ui-sidebar:                   #F3F4F6;
	--theme-ui-sidebar-highlight:         #ECEEF1;
	--theme-ui-icon:                      #5D697E;
	
	--theme-sidebar-toggle-icon:          #DCDFE8;
	--theme-sidebar-tag-background:       #E6EAEC;
	--theme-sidebar-tag-hover-background: #DDE2E5;
	
	--theme-text-gradient:                linear-gradient(5deg, transparent 40%, #222234 80%), linear-gradient(-170deg, #242433 20%, #0D0D0D 75%);
	--theme-text-rgb-gradient:            linear-gradient(90deg, rgb(222, 168, 248) 0%, rgb(168, 222, 248) 21.8%, rgb(189, 250, 205) 35.6%, rgb(243, 250, 189) 52.9%, rgb(250, 227, 189) 66.8%, rgb(248, 172, 172) 90%, rgb(254, 211, 252) 99.7%);
	
	--theme-ui-gradient-bg:               linear-gradient(to bottom, color-mix(var(--theme-ui-sidebar), var(--theme-color-primary) 2.5%) 0%, var(--theme-ui-line) 100%);
}

.dark {
	color-scheme:                         dark !important;
	
	--theme-color-aware:                  oklch(0.785 0.158 90.154);
	
	--theme-text-primary:                 #F7F9FC;
	--theme-text-secondary:               #E1E6EE;
	--theme-text-third:                   #C1C9D5;
	--theme-text-fourth:                  #586173;
	--theme-text-new:                     #F5F0FF;
	
	--theme-color-primary-reverse:        #0D0D0D;
	--theme-color-primary:                #F7F9FC;
	--theme-ui-container:                 #16181E;
	--theme-ui-container-hover:           #1F212A;
	--theme-ui-background:                #111217;
	--theme-ui-header:                    #1B1D26;
	--theme-ui-line:                      #2E3244;
	--theme-ui-line-highlight:            #38455D;
	--theme-ui-sidebar:                   #16181E;
	--theme-ui-sidebar-highlight:         #20242C;
	--theme-ui-icon:                      #5E687A;
	
	--theme-sidebar-toggle-icon:          #222531;
	--theme-sidebar-tag-background:       #1F212A;
	--theme-sidebar-tag-hover-background: #1C1E26;
	
	--theme-text-gradient:                linear-gradient(5deg, transparent 40%, rgb(42 59 79 / 0.25) 80%), linear-gradient(-170deg, #B8C4D2 20%, #F7F9FC 75%);
	--theme-text-rgb-gradient:            linear-gradient(90.7deg, rgb(255, 253, 218) 1.9%, rgb(246, 210, 255) 39.3%, rgb(152, 222, 254) 64.7%, rgb(251, 255, 210) 100.8%);
	
	--theme-ui-gradient-bg:               linear-gradient(to top, color-mix(var(--theme-ui-sidebar), var(--theme-color-primary) 2.5%) 0%, var(--theme-ui-line) 100%);
}

@media (prefers-reduced-motion: reduce) {
	* {
		animation:  none !important;
		transition: none !important;
	}
}

/* Desktop & Tablet */
@media (width >= 44rem) {
	* {
		scrollbar-width: thin;
		scrollbar-color: var(--theme-color-secondary) transparent;
	}
	
	body {
		transition: 150ms ease-out;
	}
}

/* Phone */
@media (width < 44rem) {
	* {
		scrollbar-width: none;
	}
	
	body {
		transition: 75ms ease;
	}
}

* {
	scroll-behavior:         smooth;
	-webkit-font-smoothing:  antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	max-height:          100vh !important;
	overflow:            hidden !important;
	
	font-family:         'Google Sans', 'Funnel Sans', sans-serif;
	font-optical-sizing: auto;
	
	transition:          background-color 150ms ease;
	
	.context-menu {
		position:      absolute;
		background:    var(--theme-ui-container);
		border:        1px solid var(--theme-ui-line);
		border-radius: .7rem;
		overflow:      hidden;
		
		color:         var(--theme-text-secondary);
		height:        fit-content;
		width:         12rem;
		
		z-index:       59000 !important;
		
		.copy-icon, .download-icon {
			font-size:   1.15rem;
			font-weight: 600;
			width:       100%;
			padding:     .25rem 0;
			cursor:      pointer;
			
			&:hover {
				background: var(--theme-ui-container-hover);
			}
		}
	}
	
	.coming-soon {
		color: var(--theme-text-secondary);
	}
	
	h1, h2 {
		font-family: 'Funnel Display', 'Google Sans', sans-serif;
		font-weight: 800;
	}
	
	h1, h2, a, button, p, span {
		color: var(--theme-text-primary);
	}
	
	h3, h4, h5, h6 {
		color: var(--theme-text-secondary);
	}
	
	svg {
		stroke-color: var(--theme-color-primary);
		fill-color:   var(--theme-color-primary);
		color:        var(--theme-color-primary);
	}
}

.theme-grid-content-layout {
	/* Desktop & Tablet */
	@media (width >= 44rem) {
		.icons {
			grid-template-columns: repeat(calc((100vw - 11rem) / 11rem), 11rem);
		}
	}
	
	/* Phone */
	@media (width < 44rem) {
		.icons {
			grid-template-columns: repeat(calc((100vw - 8rem) / 10rem), 11rem);
		}
	}
	
	user-select: none;
	
	.icons {
		display: grid;
		row-gap: 1.65rem;
	}
}