@import '$lib/resources/other/typography/google-sans/fonts.css';
@import '$lib/resources/other/typography/bricolage-grotesque/fonts.css';
@import '$lib/resources/other/typography/lexend/fonts.css';
@import '$lib/resources/other/typography/funnel/fonts.css';
@import '$lib/resources/other/typography/jetbrains-mono/fonts.css';
@import '$lib/fonts/geologica.css';
@import 'tailwindcss';

:root {
	/* Transitions */
	@variant not-motion-reduce {
		.theme-transition-all, .theme-transition-all::before, .theme-transition-all::after {
			transition-duration:        300ms;
			transition-timing-function: cubic-bezier(0.073, 1.065, 0.509, 0.893);
			
			&:hover {
				transition-duration: 15ms;
			}
			
			&:hover, &:active, &:focus {
				transition-timing-function: linear(0, 0.002 0.3%, 0.01 0.7%, 0.022 1.1%, 0.037 1.5%, 0.07 2.3%, 0.177 4.7%, 0.228 5.9%, 0.291 7.5%, 0.349 9.1%, 0.4 10.6%, 0.446 12.1%, 0.491 13.7%, 0.533 15.3%, 0.578 17.2%, 0.619 19.1%, 0.658 21.1%, 0.694 23.2%, 0.728 25.4%, 0.76 27.7%, 0.787 30%, 0.814 32.5%, 0.837 35%, 0.859 37.7%, 0.879 40.5%, 0.896 43.4%, 0.912 46.5%, 0.926 49.8%, 0.939 53.3%, 0.95 57%, 0.968 65.1%, 0.98 74.5%, 0.989 85.8%, 1);
			}
		}
		
		a, button, .button, .theme-transition {
			transition-duration:        300ms;
			transition-timing-function: cubic-bezier(0.073, 1.065, 0.509, 0.893);
			
			&:hover {
				transition-duration: 15ms;
			}
			
			&:active {
				transition-duration: 0ms;
			}
			
			&:focus {
				transition-duration: 100ms;
			}
			
			&:hover, &:active, &:focus {
				transition-timing-function: linear(0, 0.002 0.3%, 0.01 0.7%, 0.022 1.1%, 0.037 1.5%, 0.07 2.3%, 0.177 4.7%, 0.228 5.9%, 0.291 7.5%, 0.349 9.1%, 0.4 10.6%, 0.446 12.1%, 0.491 13.7%, 0.533 15.3%, 0.578 17.2%, 0.619 19.1%, 0.658 21.1%, 0.694 23.2%, 0.728 25.4%, 0.76 27.7%, 0.787 30%, 0.814 32.5%, 0.837 35%, 0.859 37.7%, 0.879 40.5%, 0.896 43.4%, 0.912 46.5%, 0.926 49.8%, 0.939 53.3%, 0.95 57%, 0.968 65.1%, 0.98 74.5%, 0.989 85.8%, 1);
			}
		}
		
		--theme-cubic-out:             cubic-bezier(0.215, 0.610, 0.355, 1.000);
		--theme-transition-off:        all 150ms cubic-bezier(0.550, 0.055, 0.675, 0.190);
		--theme-transition-on:         all 75ms cubic-bezier(0.165, 0.840, 0.440, 1.000);
		--theme-transition-single-off: 150ms cubic-bezier(0.550, 0.055, 0.675, 0.190);
		--theme-transition-single-on:  75ms cubic-bezier(0.165, 0.840, 0.440, 1.000);
	}
	
	@variant motion-reduce {
		--theme-cubic-out:             none !important;
		--theme-transition-off:        none !important;
		--theme-transition-on:         none !important;
		--theme-transition-single-off: none !important;
		--theme-transition-single-on:  none !important;
	}
	
	button, a {
		cursor: pointer;
	}
}

/* Light Theme */
:root {
	color-scheme:                         light;
	
	--theme-color-primary-reverse:        #F7F9FC;
	--theme-color-primary:                #0D0D0D;
	--theme-color-secondary:              #727E94;
	--theme-color-accent:                 #757CFF;
	--theme-color-aware:                  oklch(0.843 0.162 92.182);
	--theme-color-alert:                  oklch(58.6% 0.253 17.585);
	--theme-color-alert-light:            oklch(0.662 0.232 11.291);
	--theme-color-success:                oklch(84.1% 0.238 128.85);
	--theme-color-success-light:          oklch(89.2% 0.223 127.706);
	
	--theme-text-primary:                 #0D0D0D;
	--theme-text-secondary:               #31353F;
	--theme-text-third:                   #727E94;
	--theme-text-fourth:                  #C1C9D5;
	--theme-text-new:                     #130132;
	
	--theme-ui-line:                      #DDE1E8;
	--theme-ui-line-highlight:            #C0C5CC;
	--theme-ui-white:                     #F7F9FC;
	--theme-ui-black:                     #0D0D0D;
	--theme-ui-container:                 #ECEEF3;
	--theme-ui-container-hover:           #E6E9EF;
	--theme-ui-background:                #F7F9FC;
	--theme-ui-header:                    #EFF1F3;
	--theme-ui-sidebar:                   #F3F4F6;
	--theme-ui-sidebar-highlight:         #ECEEF1;
	
	--theme-ui-icon-dark:                 #5D697E;
	--theme-ui-icon:                      #5D697E;
	
	--theme-sidebar-toggle-icon:          #EBECF1;
	--theme-sidebar-tag-background:       #E6EAEC;
	--theme-sidebar-tag-hover-background: #DDE2E5;
	
	--theme-text-gradient:                linear-gradient(5deg, transparent 40%, #222234 80%), linear-gradient(-170deg, #242433 20%, #0D0D0D 75%);
	
	--theme-markdown-code-bg:             #E5E7EA;
}

/* Dark Theme */
.dark {
	color-scheme:                         dark !important;
	
	--theme-color-aware:                  oklch(0.785 0.158 90.154);
	
	--theme-text-primary:                 #F7F9FC;
	--theme-text-secondary:               #E1E6EE;
	--theme-text-third:                   #C1C9D5;
	--theme-text-fourth:                  #586173;
	--theme-text-new:                     #F5F0FF;
	
	--theme-color-primary-reverse:        #0D0D0D;
	--theme-color-primary:                #F7F9FC;
	--theme-ui-container:                 #16181E;
	--theme-ui-container-hover:           #1F212A;
	--theme-ui-background:                #111217;
	--theme-ui-header:                    #12131A;
	--theme-ui-line:                      #2E3244;
	--theme-ui-line-highlight:            #38455D;
	--theme-ui-sidebar:                   #16181E;
	--theme-ui-sidebar-highlight:         #20242C;
	
	--theme-ui-icon-dark:                 #5E687A;
	--theme-ui-icon:                      #ACB6C9;
	--theme-ui-icon-highlight:            #D6DDEA;
	
	--theme-sidebar-toggle-icon:          #222531;
	--theme-sidebar-tag-background:       #232631;
	--theme-sidebar-tag-hover-background: #1C1E26;
	
	--theme-text-gradient:                linear-gradient(5deg, transparent 40%, rgb(42 59 79 / 0.25) 80%), linear-gradient(-170deg, #B8C4D2 20%, #F7F9FC 75%);
	
	--theme-markdown-code-bg:             #21242D;
}

@media (prefers-reduced-motion: reduce) {
	* {
		animation:       none !important;
		transition:      none !important;
		scroll-behavior: auto !important;
	}
}

/* Desktop & Tablet */
@media (width >= 44rem) {
	* {
		scrollbar-width: thin;
		scrollbar-color: var(--theme-color-secondary) transparent;
	}
	
	body {
		transition: 150ms ease-out;
	}
}

/* Phone */
@media (width < 44rem) {
	* {
		scrollbar-width: none;
	}
	
	body {
		transition: 75ms ease;
	}
}

* {
	scroll-behavior:         smooth;
	-webkit-font-smoothing:  antialiased;
	-moz-osx-font-smoothing: grayscale;
	box-sizing:              border-box;
}

body {
	max-height:          100vh !important;
	overflow:            hidden !important;
	
	font-family:         'Google Sans', 'Funnel Sans', sans-serif;
	font-optical-sizing: auto;
	
	transition:          background-color 150ms ease;
	
	.context-menu {
		position:      absolute;
		background:    var(--theme-ui-container);
		border:        1px solid var(--theme-ui-line);
		border-radius: .7rem;
		overflow:      hidden;
		
		color:         var(--theme-text-secondary);
		height:        fit-content;
		width:         12rem;
		
		z-index:       59000 !important;
		
		.copy-icon, .download-icon {
			font-size:   1.15rem;
			font-weight: 600;
			width:       100%;
			padding:     .25rem 0;
			cursor:      pointer;
			
			&:hover {
				background: var(--theme-ui-container-hover);
			}
		}
	}
	
	.coming-soon {
		color: var(--theme-text-secondary);
	}
	
	h1, h2 {
		font-family: 'Geologica', 'Funnel Display', 'Funnel Sans', 'Google Sans', sans-serif;
		font-weight: 900;
	}
	
	h1, h2, a, button, p, span {
		color: var(--theme-text-primary);
	}
	
	h3, h4, h5, h6 {
		font-family: 'Geologica', 'Google Sans', sans-serif;
		color:       var(--theme-text-secondary);
	}
	
	svg {
		stroke-color: var(--theme-color-primary);
		fill-color:   var(--theme-color-primary);
		color:        var(--theme-color-primary);
	}
}